$colors: (
  grey: #4e4e50,
  black: #000000,

);



/* FONTS */

@font-face {
  font-family: 'big john';
  src: url('/fonts/bigjohn-webfont.woff2') format('woff2'),
       url('/fonts/bigjohn-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'slim joe';
  src: url('/fonts/slimjoe-webfont.woff2') format('woff2'),
       url('/fonts/slimjoe-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



body{
  width: 100%;
    margin: auto 0;
    padding: 0;
 

    .header-flex{
display: flex;
justify-content: center;
align-items: center;
width: 100%;

padding-top: 1rem;


    }
  
    
  .ham{
    width: 35px;
    height: 30px;
    display: block;

    
    cursor: pointer;
    transform: scaleX(-1);
  }
  
  .ham div{
    height: 4px;
    background: black;
    margin: 5px 0;
    border-radius: 24px;
    transition: .3s;
   
  }
  
  .menu{
    display: flex;
    flex-grow: 1;
    display: none;
   
  }
  
  
  .one{
  
    width: 50px;
  }
  
  .two{
    width: 30px;
  }
  
  .three{
    width: 40px;
  }
  .ham:hover div{
    width: 50px;
    
  }

  

  .menu li{
    padding: 10px;
    list-style-type: none;
  }
  
   .nav{
     padding: 0;
    margin: 0 20px;
     transition: 0.3 ease;
   display: none;
  
   }
    
  .nav li {
    list-style-type: none;
    padding: 10px 0;
    
    
    
  }
  
  
   .nav li a, .menu li a{
     font-family: raleway;
    color: black;
    text-decoration: none;
   
   
   }
  
  
  
   .change{
     display: block;
    
  
     
  
   }
   .link-1, .link-2, .link-3, .link-4, .link-5{
    
   }

   .link-1::after, .link-2::after,.link-3::after, .link-4::after,.link-5::after {
    content: '';
    display: block;
    width: 0;
    height:2px;
    background: #0A7198;
    transition: width 0.3s;
  }
 
  .link-1:hover::after {
    transition: width 0.3s;
    width:100%;
  }
 
  .link-2:hover::after {
   transition: width 0.3s;
   width: 100%;
 }
 
 
 .link-3:hover::after {
   transition: width 0.3s;
   width: 100%;
 }
 
 .link-4:hover::after {
   transition: width 0.3s;
   width: 100%;
 }
 
 .link-5:hover::after {
   transition: width 0.3s;
   width: 100%;
 }


 /****************************
 CONTENT SCSS
 */

 .content{
   
  
padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 80vh;
  
  
 }
.content > img {
  max-width: 100%;
 position: absolute;
 z-index: -1;

}

 .content > .title{
   position: relative;
bottom: 130px;
   font-family: big john;
   color: #0A7198;
   font-size: 33px;

  
 }

 .content > .statement{
  position: relative;
  top: 130px;
   font-family: raleway;
   font-size: 12px;

 }


 

  }