/******************** 
Responsive Media Queries 
********/
/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Raleway");
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #a09383;
}

/*******************
Header(nav,logo,links,etc)
*/
.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

@media (min-width: 1800px) {
  .header-flex {
    padding: 2rem;
  }
}

.header-flex .logo {
  padding: 0;
  margin: 0;
}

.header-flex .logo img {
  width: 45px;
  height: 40px;
}

.header-flex .ham {
  width: 35px;
  height: 30px;
  display: block;
  cursor: pointer;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.header-flex .ham div {
  height: 4px;
  background: #f8edda;
  margin: 5px 0;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-flex .one {
  width: 40px;
}

.header-flex .two {
  width: 25px;
}

.header-flex .three {
  width: 40px;
}

.header-flex .ham:hover div {
  width: 40px;
}

.header-flex .menu {
  visibility: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*****************
    MENU LINK Animations
    */
}

.header-flex .menu li {
  padding: 5px;
  list-style-type: none;
  display: inline-block;
  font-size: 12px;
}

.header-flex .menu li a {
  color: #a09383;
  text-decoration: none;
  font-family: "Playfair Display";
  text-align: center;
  width: 100vh;
}

.header-flex .menu .link-1::after,
.header-flex .menu .link-2::after,
.header-flex .menu .link-3::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #f8edda;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.header-flex .menu .link-1:hover::after {
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  width: 100%;
}

.header-flex .menu .link-2:hover::after {
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  width: 100%;
}

.header-flex .menu .link-3:hover::after {
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  width: 100%;
}

/*************************
NAV OVERLAY 
*/
.nav-container {
  background-color: rgba(248, 237, 218, 0.9);
  width: 100%;
  height: 0;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow-y: hidden;
  padding: 0;
  overflow-x: hidden;
}

.nav-container .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 0;
}

.nav-container .nav li {
  list-style-type: none;
  padding: 10px 0;
  font-size: 30px;
}

.nav-container .nav li a {
  color: #252625;
  text-decoration: none;
  font-family: "raleway";
}

.nav-container .nav li a:hover {
  color: #a09383;
}

.nav-container .closeBtn {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 40px;
  text-decoration: none;
  width: 5%;
}

/***********************
MAIN CONTENT 
*/
main {
  padding: 1rem;
  padding-bottom: 2rem;
}

@media (min-width: 600px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 80vh;
        grid-template-rows: 80vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
        grid-template-areas: "left right";
    height: auto;
  }
}

@media (min-width: 1200px) {
  main {
    -ms-grid-rows: 100vh;
        grid-template-rows: 100vh;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 5rem 0 5rem;
  }
}

@media (min-width: 1800px) {
  main {
    padding: 0 15rem 0 15rem;
  }
}

main .landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .landing img {
  max-width: 65%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 600px) {
  main .landing img {
    max-width: 80%;
    grid-area: right;
    display: -ms-grid;
    display: grid;
  }
}

@media (min-width: 900px) {
  main .landing img {
    max-width: 70%;
  }
}

@media (min-width: 1200px) {
  main .landing img {
    max-width: 60%;
  }
}

@media (min-width: 1800px) {
  main .landing img {
    max-width: 70%;
  }
}

main .content {
  padding: 1rem;
  padding-bottom: 0;
}

@media (min-width: 600px) {
  main .content {
    padding: 2rem;
    grid-area: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 900px) {
  main .content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 2rem;
    padding-left: 5rem;
  }
}

@media (min-width: 1200px) {
  main .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 80%;
  }
}

main .content .title {
  font-size: 48px;
  letter-spacing: 3px;
  font-family: "Playfair Display";
  font-weight: 700;
  position: relative;
  top: 5px;
  text-align: left;
  color: #f8edda;
}

@media (min-width: 600px) {
  main .content .title {
    font-size: 64px;
    text-align: left;
  }
}

@media (min-width: 900px) {
  main .content .title {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  main .content .title {
    font-size: 100px;
  }
}

main .content .tagline {
  font-size: 12px;
  font-family: 'Playfair Display';
  font-style: italic;
  color: #f8edda;
  padding-bottom: 30px;
}

main .content .message {
  font-size: 16px;
  letter-spacing: .5px;
  text-align: left;
  font-family: "raleway";
  line-height: 140%;
}

main .content .message span {
  color: #f8edda;
}

@media (min-width: 600px) {
  main .content .message {
    text-align: left;
  }
}

@media (min-width: 900px) {
  main .content .message {
    text-align: left;
    padding-bottom: 30px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  main .content .message {
    font-size: 24px;
  }
}

main .content .button-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .content .button-style {
  border: 2px solid #f8edda;
  padding: 10px 30px 10px 30px;
  border-radius: 5%;
}

main .content .button-style a {
  text-align: center;
  font-size: 12px;
  text-align: center;
  font-family: "Raleway";
  text-transform: uppercase;
  text-decoration: none;
  color: #252625;
}

@media (min-width: 1200px) {
  main .content .button-style a {
    font-size: 16px;
  }
}

main .content .bouncy {
  -webkit-animation: bouncy 5s infinite linear;
          animation: bouncy 5s infinite linear;
  position: relative;
}

@-webkit-keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

footer {
  display: block;
  border-top: 1px solid #252625;
  padding: .5rem;
  font-family: "Playfair Display";
  color: #f8edda;
  font-size: 12px;
}

footer .copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */