$colors: (
 primary: #A09383,
 secondary: #252625,
 accent: #8497A1,
extra: #f8edda
);

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Raleway');

html,body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: map-get($colors, primary);
}


/*******************
Header(nav,logo,links,etc)
*/


.header-flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
    
padding: 1rem;
    .logo {

padding: 0;
margin: 0;
      img{
       
       width: 45px;
       height: 40px;
      }
    }
   

    .ham {
      width: 35px;
      height: 30px;
      display: block;
      cursor: pointer;
      transform: scaleX(-1);
    }
  
    .ham div {
      height: 4px;
      background: black;
      margin: 5px 0;
      border-radius: 24px;
      transition: 0.3s;
    }
  
    .one {
      width: 50px;
    }
  
    .two {
      width: 30px;
    }
  
    .three {
      width: 40px;
    }
    .ham:hover div {
      width: 50px;
    }

    .menu{
      visibility: hidden;
      width: 100%;
      display: flex;
      justify-content: center;
       li {
        padding: 5px;
        list-style-type: none;
        display: inline-block;
        font-size: 12px;
       
      
        
      }
       li a {
        color:map-get($colors, secondary);
        text-decoration: none;
        font-family: 'Playfair Display';
        text-align: center;
        width: 100vh;
       
      }
  
       /*****************
    MENU LINK Animations
    */
  
    .link-1::after,
    .link-2::after,
    .link-3::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: map-get($colors, extra);
      transition: width 0.3s;
    }
  
    .link-1:hover::after {
      transition: width 0.3s;
      width: 100%;
    }
  
    .link-2:hover::after {
      transition: width 0.3s;
      width: 100%;
    }
  
    .link-3:hover::after {
      transition: width 0.3s;
      width: 100%;
    }
    }

    
  
  }


/*************************
NAV OVERLAY 
*/

.nav-container {
  background-color: map-get($colors, secondary);
  width: 100%;
  height: 0;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.5s;
  overflow-y: hidden;
  padding: 0;
  overflow-x: hidden;

 
  .nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 0;
  }
  
  .nav li {
    list-style-type: none;
    padding: 10px 0;
    font-size: 30px;
    
  }
  
  .nav li a {
    color: map-get($colors, extra);
    text-decoration: none;
    font-family: 'raleway';
  }
  
  .nav li a:hover {
    color: map-get($colors, primary);
  }
  
  
  
  .closeBtn {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 40px;
    color: map-get($colors, primary);
    text-decoration: none;
    width: 5%;
  }
  
}











/***********************
MAIN CONTENT 
*////////
main{
 font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  img{
    max-width: 50%;
    position: relative;
    
    

  }

  h1{
 
   width: 100%;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 4rem;
   letter-spacing: 2px;
    text-align: center;
    position: absolute;
    color: map-get($colors, extra);
 top: 50%;
 bottom: 0;
  left:50%;
  transform:translate(-50%,-50%);
  
    
  }

  article{
    padding: 1rem;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   
    p{
      font-size: 16px;
      color: map-get($colors, secondary);
      text-align: center;
      font-family: 'Playfair Display';
      padding: 1rem;
      padding-top: 0;
      line-height: 140%;
      padding-bottom: 0;
     

    }

  
    .act{
      font-family: 'Playfair Display';
      font-size: 12px;
      font-weight: 400;
      
    }

    .button{
     display: flex;
     justify-content: center;
      border: 2px solid map-get($colors, extra);
      width: 100px;
      padding: .5rem;
      text-align: center;
      font-family: 'raleway';
      font-weight: 400;
      text-decoration: none;
       
      color: map-get($colors, secondary);
    }

    .button-style a{
      font-size: 12px;
    }
    

      .bouncy{
        animation: bouncy 5s infinite linear;
        position: relative;
        font-size: 0.8rem;
      }
    
      @keyframes bouncy {
        0% {
          top: (0em);
        }
    
        40% {
          top: (0em);
        }
    
        43% {
          top: (-0.9em);
        }
    
        46% {
          top: (0em);
        }
    
        48% {
          top: (-0.4em);
        }
    
        50% {
          top: (0em);
        }
    
        100% {
          top: (0em);
        }
      }
    
    }
  }

  footer{
    height: 5vh;
  font-family: 'raleway';
  color: map-get($colors, extra);
  font-size: 12px;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  padding: 30px;
  }


  
