*{
  box-sizing: border-box;
}
  
  html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #262626;
}


a:visited{
  font-weight: 700;
  border-bottom: 3px solid black;
}

a:hover {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 3px solid black;
}


.row{
  position: relative;
  top: 30px;
}



.logo {
  display: flex;
  justify-content: center;
  position: relative;
 left: 10px;

}

.nav{
  margin-left: 100px;
}

.nav2{
  margin-right: 100px;
}

.nav, .nav2{
  font-weight: 300;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  position: relative;
  top: 35px;

}

.container{
  height: 100%;
  width: 100%;
  
  
}

.row2{
  display: flex;
  flex-wrap: wrap;
}

.row2{
  height: 100%;
  }
  

.name, .job, .scroll{
  display: flex;
  justify-content: center;
}

.name {
  height: 60%;
  color: #262626;
  font-weight: 900;
  font-size: 80px;
  align-items: flex-end;

}

.job{
 height: 5%;
  font-weight: 400;
  font-size: 20px;
  color: #767676;
  align-items: flex-end;
 
 
}



.scroll{
height: 35%;
  color: #767676;
  font-size: 14px;
  font-weight: 300;
  align-items: center;
}


/* PROJECT LISTINGS GRID NO BOOTRSTRAP (PRACTICE) */


.container1{
  height: 100%;
  width: 100%;
}

.row4, .row5, .row6{
  display: flex;
  padding: 1em,0,0,0;
  flex-wrap:wrap;
  
}


.port{
  display: flex; 
  justify-content: center;
  color: #262626;
  font-weight: 900;
  font-size: 80px;
  padding: 1em;
  }

  

.p1{
display: flex; 
justify-content: center;
align-content: center;
transition: all .3s ease-in-out;

}

.p2{
  transition: all .3s ease-in-out;
  display: flex; 
justify-content: center;
align-content: center;

}

.p1 > a, .p2 > a{
  border: 0;
}

.p1:hover ,.p2:hover{
  transform: scale(1.1);

}


.row6{
  height: 50%;
}




.pname1{
  display: flex;
  justify-content: center;
  padding-top: .5em;
}

.pname2{
  display: flex;
  justify-content: center;
  padding-top: .5em;
 
  
}


.pname1, .pname2{
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
}



.pname1 > a, .pname2 > a{
  color: #262626;
  text-decoration: underline;

}

.pname1 > a:hover, .pname2 > a:hover{
  color: #000000;
  font-weight: 700;
}










