
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:300,400,700');



*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background);
}



:root{
    --accent: rgba(255, 238, 119, 1);
    --navbg: rgba(8, 8, 6, 1);
    --background: rgba( 228, 222, 212, 1);
}


/* Navigation Starts Here */

header{
background: var(--navbg);
text-align: center;
position: fixed;
width: 100%;
z-index: 999;
padding: .75em;
}

header h3{
    margin-left: 150px;
    font-family: 'Roboto', 'Sans Serif';
    font-weight: 700;
    color: var(--accent);
    display: flex;
    justify-content: flex-start;
}

.nav-toggle{
display: none;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span:before,
.nav-toggle-label span:after {
    display: block;
    background: var(--background);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span{
    width: 1em;
}

.nav-toggle-label span:before,
.nav-toggle-label span:after{
    content: '';
    position: absolute;
}

.nav-toggle-label span:before{
    bottom: 7px;
}

.nav-toggle-label span:after{
    top: 7px;
}

nav{
position: absolute;
text-align: left;
top: 100%;
left: 0%;
width: 100%;
background: var(--navbg);
transform: scale(1,0);
transform-origin: top;
transition: transform 400ms ease-in-out;

}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: var(--background);
    font-family: 'Roboto condensed';
font-style: 400;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover{
    color: var(--accent);
}


.nav-toggle:checked ~ nav{
    transform: scale(1,1)
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.social img{
    color: white;
  
  
}


/* MAIN Section */


.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px, auto);
    grid-gap: 20px;
    grid-template-areas: 
    "left  right"
    "left  right ";

 
}


.leftsection{
   grid-area: right;
   height: 100%;
   padding-top: 40%;
  
   
}

.leftsection h1{
    font-family: 'Roboto condensed', 'Sans serif';
    font-weight: 700;
    font-size: 8rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-decoration-color: var(--accent);
    margin-left: 12px;
    text-align: left;
    padding-right: 10px; 
}

.leftsection .intro{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto condensed', 'Sans serif';
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--navbg);
    text-align: left;
   margin-left: 20px;
   
    
}

.leftsection .job{
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:rgba( 31,31,31, 1);
    font-weight: 400;
    font-size: 4rem;
    font-family: 'Roboto Condensed', 'Sans serif';
    margin-left: 15px;
    
}

.flexnest p{
    font-family: 'Roboto Condensed', 'Sans serif';
    font-size: 1rem;
    display: flex;
    justify-content: center;
    
}




.middlesection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  grid-area: left;
  align-items: center;
  font-size: 16px;
 margin-top: 6rem;

 
}

.middlesection img{
    padding-top: 2rem;
 
}



.middlesection p{
    font-family: 'Roboto', 'Sans Serif';
    font-weight: 400;
 
    
}



.rightsection{
    grid-area: right;
  
}



/* Small screens */


@media screen and (min-width: 800px){
    
    /* NAVIGATION  */
    
    .nav-toggle-label{
        display: none;

    }

    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }

   
    nav{
        all: unset;
        grid-column: 4 / span 1;
        display: flex;
        align-items: center;
    }

    nav a{
        opacity: 1;
        position: relative;
    }

    nav li{
        margin-left: 2em;
        margin-bottom: 0;
    }

    nav ul{
        display: flex;
        justify-content: center;    
        
    }

    nav a:before{
        content: '';
        display: block;
        height: 3px;
        background: var(--accent);
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover:before{
        transform: scale(1,1);
    }

}




/* Mobile Screen */

@media screen and (max-width: 800px){

    .wrapper{
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 20px;
        grid-template-areas: 
        " top"
        " bottom";
       
     
    }
    
    
    .leftsection{
       grid-area: top;
       width: 100%;
       border: 2px solid black;
       
    }
    
    .leftsection h1{
        font-family: 'Roboto condensed', 'Sans serif';
        font-weight: 700;
        font-size: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: underline;
        text-decoration-color: var(--accent);
        margin-left: 12px;
        text-align: center;
        padding-right: 10px; 
       
    }
    
    .leftsection .intro{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto condensed', 'Sans serif';
        font-weight: 700;
        font-size: 1.5rem;
        color: var(--navbg);
        text-align: center;
        
       
       
        
    }
    
    .leftsection .job{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color:rgba( 31,31,31, 1);
        font-weight: 400;
        font-size: 4rem;
        font-family: 'Roboto Condensed', 'Sans serif';
        
        
        
    }
    .middlesection{
        display:none;
    }
    
    
    
    
  
}




  







