@import url('https://fonts.googleapis.com/css?family=Anton|Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik+Mono+One');

*{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
  
  html, body {
  height: 100%;
  width: 100%;
 
background-color: #080806;
 
 
}


.colnav{
  display: flex;
  height: 60px;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;


}

.leftnav{
display: flex;
justify-content: flex-start;
 
  }
  
  
  
  .centernav {
   
    
    
  
  }


a{
  margin-right: 3rem;
  margin-left: 3rem;
  text-decoration: none;
  color: #fffcee;
  letter-spacing: .1rem;
  z-index: 2;
  font-size: 14px;
  
}




 a:visited {
  font-family: 'Lato', sans-serif;
  border-bottom: 3px solid black;
  color: #E4ded4;
  
 
}

a:hover {
  text-decoration: none;
  color: #ccb459;
  border-bottom: 2px solid #E4ded4;
  

}



.container{
height: 100%;
width: 100%;
  
}

.BGL{
  height: 100%;
  display: flex;
  align-items: center; /* horizontal */
  justify-content: center;
}

.selfie{
  height: 700px;
}

.VA {
 display: flex;
 justify-content: center;
 flex-direction: column;
 width: 100%;
 align-items: center;
position: relative;
bottom: 15rem;
 
  
}

h1{
  font-size: 5rem;
  font-family: 'Rubik Mono One', 'Sans serif'; 
  color: #ffe689;
}

h5{
  font-family: 'Roboto Mono', 'Sans serif';
 
 font-size: 1.5rem;
 color: #E4ded4;

 

}





/* FOOTER */









