@import url('https://fonts.googleapis.com/css?family=Anton|Lato');

*{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
  
  html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
 
 
}

body{
  margin: 0;
}


.row-nav{
  position: relative;
  top: 35px; 
 
 
}



a{
  margin-right: 3rem;
  margin-left: 3rem;
  text-decoration: none;
  color: #262626;
  letter-spacing: .1rem;
  z-index: 2;
  font-size: 14px;
  
}




 a:visited {
  font-family: 'Lato', sans-serif;
  border-bottom: 3px solid black;
  color: #262626;
  
 
}

a:hover {
  text-decoration: none;
  color: #454545;
  border-bottom: 3px solid black;
  

}

.logo{
 position: relative;
 right: 15rem;
}



.nav {
  display: flex;
  justify-content: center;

}

.container{
  height: 100%;
  width: 100%;
 margin: auto;
  
  
}

.row{
  display: flex;
  height: 100%;
}

.row-name{
 width: 100%;
}




.job{
  z-index: 2;
  display: flex;
  justify-content: center;
}

.BGL{
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
  bottom: 21rem;
}
 span{
   display: inline-block;
 }

.firstName, span{
  font-family: 'Anton', sans-serif;
  letter-spacing: .3rem;
}

.firstName{
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 100px;
  z-index: 2;
  position: relative;
  top: 40rem;


}

.job{
  font-weight: 400;
  font-size: 20px;
  color: #767676;
  position: relative;
  top: 39rem;
 
}


/* FOOTER */

.page{
  display: flex; 
  justify-content: flex-start;
  font-family: 'Anton', 'Sans Serif';
  font-size: 6rem;
  color: #000000;
  z-index: 2;
  position: relative;
  bottom: 15rem;
  left: 6rem;

}









/* PROJECT LISTINGS GRID 


.container1{
  height: 100%;
  width: 100%;
}

.row4, .row5, .row6{
  display: flex;
  padding: 1em,0,0,0;
  flex-wrap:wrap;
  
}


.port{
  display: flex; 
  justify-content: center;
  color: #262626;
  font-weight: 900;
  font-size: 80px;
  padding: 1em;
  }

  

.p1{
display: flex; 
justify-content: center;
align-content: center;
transition: all .3s ease-in-out;

}

.p2{
  transition: all .3s ease-in-out;
  display: flex; 
justify-content: center;
align-content: center;

}

.p1 > a, .p2 > a{
  border: 0;
}

.p1:hover ,.p2:hover{
  transform: scale(1.1);

}


.row6{
  height: 50%;
}




.pname1{
  display: flex;
  justify-content: center;
  padding-top: .5em;
}

.pname2{
  display: flex;
  justify-content: center;
  padding-top: .5em;
 
  
}


.pname1, .pname2{
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
}



.pname1 > a, .pname2 > a{
  color: #262626;
  text-decoration: underline;

}

.pname1 > a:hover, .pname2 > a:hover{
  color: #000000;
  font-weight: 700;
}


*/








